.UserJoinPage {
  background-color: rgb(231, 235, 240);
  padding-top: 20px;
}

.UserJoinPage > .card {
  padding: 40px;
}

.UserJoinPage .info {
  gap: 10px;
}
.UserJoinPage .title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: cornflowerblue;
}
.UserJoinPage .join-btn {
  margin-top: 20px;
}
